appdirs==1.4.4
augmentor==0.2.8
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
future==0.18.2
idna==2.9
imagecodecs==2020.2.18
imageio==2.8.0
joblib==0.15.1
keras==2.3.1
kiwisolver==1.2.0
mahotas==1.4.9
matplotlib==3.2.1
nd2reader==3.2.3
networkx==2.4
packaging==20.3
pillow==7.1.2
pims==0.4.1
pooch==1.1.0
pyparsing==2.4.7
pypng==0.0.20
python-dateutil==2.8.1
pytz==2020.1
pywavelets==1.1.1
pyyaml==5.3.1
requests==2.23.0
scikit-image==0.17.1
scikit-learn==0.23.1
seaborn==0.10.1
sklearn==0.0
slicerator==1.0.0
tensorflow-gpu==1.15.0
threadpoolctl==2.0.0
tifffile==2020.5.11
tqdm==4.62.3
urllib3==1.25.9
xmltodict==0.12.0
h5py==2.10.0
protobuf==3.20.*

opencv-python
pandas